<!-- Blog Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="blog-latest">

        {{ page.content | markdownify }}

        {% for p in site.posts limit:3 %}
        <h4> <strong> <a href="{{ p.url }}">{{ p.title }} </a> </strong>
          <strong> {{ p.date | date_to_string }} </strong>
          <!-- <small> <a href="{{ post.url }}#disqus_thread">Comments</a></small> -->
        </h4>

        {{ p.excerpt }}

        {% capture content_words %}
          {{ p.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
          {{ p.excerpt | number_of_words }}
        {% endcapture %}
        {% if excerpt_words != content_words %}
          <div class="blog-right">
            <a href="{{ p.url }}"> <strong>lees meer</strong> </a>
          </div>
        {% endif %}

        {% endfor %}

        <div style="clear:both"></div>
        <a href="/blog/index.html" class="blog-more btn btn-default btn-lg"> <strong>Meer posts</strong></a>

      </div>
    </div>
  </div>
</section>
