<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  {% include navigation.html %}
  {% assign atl = site.data.[page.naam] %}

  <section id="banner" class="banner" style="background-image: url( /img/atleet/{{ atl.naam | replace: ' ','' }}.jpg );"> </section>

  <!-- Atleet -->

  <section id="{{ page.naam }}" class="container content-section text-center" style="padding-bottom: 0px">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <h1><strong>{{ atl.naam }}</strong></h1>
      <h4><i><strong>{{ atl.quote }}</strong></i></h4>
    </div>
  </div>
</section>



<!-- About -->
<section id="about" class="text-center bg-gray" style="padding-bottom: 110px">

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div>
          <!-- First array for future races -->
          {% assign future = "" | split:"|"  %}

          <!-- Second one for past races -->
          {% assign past = "" | split:"|"  %}

          <!-- Iterate over all weds and sort them into two arrays, based on servertime and race date -->
          <!-- **Arreys themself aren't sorted, races will be displayed as saved in the _data file** -->
          {% capture nowunix %}{{ site.time | date: "%Y-%m-%d" }}{% endcapture %}
          {% for wed in atl.wedstrijden %}
          {% capture wedtime %}{{ wed.datum | date: "%Y-%m-%d" }}{% endcapture %}
          {% if wedtime >= nowunix %}
            {% assign future = future | push: wed %}
          {% else %}
            {% assign past = past | push: wed %}
          {% endif %}
          {% endfor %}

          <!-- Display future races -->
          {% if future.size > 0 %}
          <h4>Komende wedstrijden</h4>
          <table class="table">
            <td><b>Datum</b></td>
            <td><b>Plaats</b></td>
            <td><b>Discipline</b></td>

            {% for wed in future %}
            <tr>
              <td>{{ wed.datum }}</td>
              <td>{{ wed.plaats }}</td>
              <td>{{ wed.discipline }}</td>
            </tr>
            {% endfor %}

          </table>
          {% endif %}

        </div>

        <div>
          <!-- Display past races -->
          {% if past.size > 0 %}
          <h4>Eerdere wedstrijden</h4>
          <table class="table">
            <td><b>Datum</b></td>
            <td><b>Plaats</b></td>
            <td><b>Discipline</b></td>
            <td><b>Prestatie</b></td>
            <td><b>Punten</b></td>

            {% for wed in past | limit: 15 %}
            <tr>
              <td>{{ wed.datum }}</td>
              <td>{{ wed.plaats }}</td>
              <td>{{ wed.discipline }}</td>
              <td>{{ wed.prestatie }}</td>

              <!-- If enough variables are given: calculate cross points -->
              {% if wed.totDeelnemers and wed.cat %}

              {% case wed.cat %}
                {% when 'A' %} {% assign scale = 5 %}
                {% when 'B' %} {% assign scale = 10 %}
                {% when 'C' %} {% assign scale = 20 %}
              {% endcase %}

              {% assign num = wed.totDeelnemers | minus: wed.prestatie %}
              {% assign den = wed.totDeelnemers | minus: 1 %}
              {% assign points = num | times: 999 | divided_by: den | plus: 1 | divided_by: scale %}
              <td>{{ points }}</td>
              {% else %}
              <td> </td>
              {% endif %}
              <!-- END cross points -->
            </tr>
            {% endfor %}

          </table>
          {% endif %}
        </div>
      </div>

      {% if atl.strava_id %}
      <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 45px;">
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src="https://www.strava.com/athletes/{{ atl.strava_id }}/latest-rides/{{ atl.strava_widget }}"></iframe>
      </div>
      {% endif %}

      <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>Lees meer over {{ atl.naam }}</h4>
        <table class="table">
          {% for post in site.posts %}
          {% for atleet in post.atleten %}
          {% if atleet == atl.naam %}

          {% capture cleandate %}
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}jan
            {% when '2' %}feb
            {% when '3' %}mrt
            {% when '4' %}apr
            {% when '5' %}mei
            {% when '6' %}jun
            {% when '7' %}jul
            {% when '8' %}aug
            {% when '9' %}sep
            {% when '10' %}okt
            {% when '11' %}nov
            {% when '12' %}dec
          {% endcase %}
          {% endcapture %}

          <tr>
            <td>{{ cleandate }}</td>
            <td><a href="{{ post.url }}"> {{ post.title }} </a></td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
      </div>

    </div>

    </div>
  </section>

  <!-- /atleet -->

  <!-- LEES OVER HEM -->


  {% include footer.html %}

  {% include js.html %}

</body>
</html>
