<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  {% include navigation.html %}

   {% include banner.html %}

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h1><strong>{{ page.title }}</strong></h1>
        <h4><strong>{{ page.date | date_to_string }}</strong>
        {% if page.author %}
          <a href="{{ site.url }}/atleet/{{ page.author | replace:' ','' }}.html"> <strong> {{ page.author }} </strong> </a>
        {% endif %}
          {% if category %}
          <small> . {{ page.category }} . <!-- <a href="{{ page.url }}#disqus_thread">Comments</a> --> <p/>
            {% for tag in page.tags %}
            <a href="/tags/{{ tag }}.html">#{{ tag }}</a>
            {% endfor %}
          </small>
          {% endif %}
        </h4>

        {{ page.content | markdownify }}

        {% include share.html %}

        {% include comments.html %}
      </div>
      <!--pers-->
      {% if page.persimg %}
      <div class="col-lg-8 col-lg-offset-2">
          <h2> Pers </h2>
      </div>
      <img src="{{ page.persimg }}" alt="{{ page.perssource }}" style="width:100%; margin-bottom:40px;">
      {% endif %}
      <!--/pers-->
      <!--Flyby-->
      {% if page.flyby %}
      <div class="col-lg-8 col-lg-offset-2">
          <h2> Strava </h2>
      </div>
      {% include flyby.html %}
      {% endif %}
      <!--/Flyby-->
    </section>

   {% include footer.html %}

   {% include js.html %}

 </body>
 </html>
